* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --height: 300px;
  --width: calc(var(--height) / 1.5);
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #191c29;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: var(--width);
  height: var(--height);
  margin: 0 50px;
  position: relative;
  perspective: 2500px;
  display: flex;
  align-items: flex-end;
  padding: 0 36px;
  justify-content: center;
}

.wrapper {
  position: absolute;
  transition: all 0.5s;
  z-index: -1;
}

.wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
}

.wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover .wrapper {
  box-shadow: 2px 32px 35px 8px rgba(0, 0, 0, 0.75);
  transform: perspective(900px) rotateX(25deg) translateZ(0) translateY(-5%);
}

.card:hover .wrapper::before {
  opacity: 0.3;
}

.title {
  width: 100%;
  transition: all 0.5s;
  z-index: 2;
}

.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
}

.card:hover .character {
  opacity: 1;
  z-index: 0;
  transform: translate3d(0%, -50px, 100px);
}
